*{
    margin: 0;
    background-color: #F5F5F5;
    color: black;
}
:root{
    --verde: #5C7366;
    --cinza: #4F4F4F;
}
body{

}

header{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    mix-blend-mode: normal;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
}
header  p{
    font-size: 20px;
}
menu{
    position: sticky;
    z-index: 1;
    width: 500px;
    margin-right: 20px;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}
li > a{
    color: var(--cinza);
    text-decoration: none;
}

.fisio_website{
    margin-left: 20px;
    width: 60%;
}
.fale_conosco{
    color: #ffffff;
    padding: 15px 20px;
    background: #5C7366;
    border-radius: 40px;
}

.home_link{
    color: #5C7366;
}
div#principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.h1_principal{
    color: var(--verde);
    font-size: 2em;
}
.p_principal{
    color: var(--cinza);
    font-size: 1em;
}

div.div1{

}

div.dvi2{

}

.content_informacoes{
    display: flex;
    gap: 20px;
    margin: auto;
    padding: 0 20px;
}

div.info *{
    background-color: var(--verde);
    color: #fff;
}

.info{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--verde);
    border-radius: 20px;
    padding: 20px;
}